In [8]:
import pandas as pd

In [9]:
luke_new_metadata = pd.read_csv('/Users/michael/Data/Luke_terrace_experiment/Microbiome/lic2024_pooled_meta.tsv', sep = '\t', skiprows = [1])
luke_new_metadata

    sample-id sample.type timepoint     date  time platename  daysincestart
0      LIC001       plant       t01  11/1/23  8:00    LIC_01              0
1      LIC002       plant       t01  11/1/23  8:00    LIC_01              0
2      LIC003       plant       t01  11/1/23  8:00    LIC_01              0
3      LIC004       plant       t01  11/1/23  8:00    LIC_01              0
4      LIC005       plant       t01  11/1/23  8:00    LIC_01              0
..        ...         ...       ...      ...   ...       ...            ...
603  t24_soil        soil       t24   3/1/24  8:00    LIC_04            121
604  t25_soil        soil       t25   3/5/24  8:00    LIC_04            125
605  t26_soil        soil       t26   3/8/24  8:00    LIC_04            128
606  t27_soil        soil       t27  3/12/24  8:00    LIC_04            132
607  t28_soil        soil       t28  3/14/24  8:00    LIC_04            134

[608 rows x 7 columns]

In [15]:
full_meta_data = pd.read_csv('/Users/michael/Data/Luke_terrace_experiment/General_data/Plates_1_to_4_metadata.csv')
#full_meta_data = full_meta_data.set_index('filename', drop = True)
full_meta_data = full_meta_data.drop_duplicates()
full_meta_data['Experiment Type'] = full_meta_data['timepoint'].str.split('t').str[0]
full_meta_data = full_meta_data.replace('', 'Long Term')
full_meta_data = full_meta_data.replace('c1_', 'Circadian Experiment 1')
full_meta_data = full_meta_data.replace('c2_', 'Circadian Experiment 2')
full_meta_data['Sample Month'] = full_meta_data['date'].str.split('/').str[0]
full_meta_data = full_meta_data.replace({'11':'November', '12':'December', '1':'January', '2':'February', '3':'March', '4':'April'})
full_meta_data

,filename,plate.pos,arb.sort,sampID,sample.type,timepoint,date,time,extractplate,rnaprepplate,...,Multimapping,No Feature,Ambiguous Unstranded,Ambiguous Forward,plate_row,plate_col,Total Reads,Unmapped Over Mapped,Experiment Type,Sample Month
0,A2450525897_n01_LICRNA01_A01,A01,1,LIC001,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,334817.0,112554.0,202285.0,22008.0,A,1,2248661.0,1.170940,Long Term,November
1,A2450525897_n01_LICRNA01_B01,B01,2,LIC002,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,776239.0,226718.0,494847.0,49830.0,B,1,5984566.0,0.847878,Long Term,November
2,A2450525897_n01_LICRNA01_C01,C01,3,LIC003,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,427910.0,97848.0,271449.0,28416.0,C,1,2936453.0,0.777471,Long Term,November
3,A2450525897_n01_LICRNA01_D01,D01,4,LIC004,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,177674.0,49095.0,123691.0,13452.0,D,1,1359823.0,0.929141,Long Term,November
4,A2450525897_n01_LICRNA01_E01,E01,5,LIC005,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,309156.0,135512.0,229101.0,26474.0,E,1,2680737.0,1.120708,Long Term,November
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,B2449500127_n01_LICRNA04_D12,D12,92,LIC640,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,669927.0,579120.0,634455.0,94073.0,D,12,7589546.0,0.485375,Circadian Experiment 2,March
380,B2449500127_n01_LICRNA04_E12,E12,93,LIC641,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,307847.0,248710.0,254268.0,35462.0,E,12,2868917.0,0.559351,Circadian Experiment 2,March
381,B2449500127_n01_LICRNA04_F12,F12,94,LIC642,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,470930.0,347737.0,313143.0,48361.0,F,12,3742922.0,0.608939,Circadian Experiment 2,March
382,B2449500127_n01_LICRNA04_G12,G12,95,LIC643,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,679771.0,548059.0,571417.0,87280.0,G,12,6883938.0,0.568195,Circadian Experiment 2,March
383,B2449500127_n01_LICRNA04_H12,H12,96,LIC644,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,337290.0,220151.0,203205.0,30147.0,H,12,2356757.0,0.686690,Circadian Experiment 2,March

In [16]:
old_metadata = full_meta_data

In [17]:
plant_luke_metadata = luke_new_metadata.loc[luke_new_metadata['sample.type'] == 'plant']
plant_luke_metadata.tail(20)

    sample-id sample.type timepoint    date   time   platename  daysincestart
522    LIC725       plant    c2_t11  3/3/24  12:00  LICCIRC_04            123
523    LIC726       plant    c2_t11  3/3/24  12:00  LICCIRC_04            123
524    LIC727       plant    c2_t11  3/3/24  12:00  LICCIRC_04            123
525    LIC728       plant    c2_t11  3/3/24  12:00  LICCIRC_04            123
526    LIC733       plant    c2_t12  3/3/24  16:00  LICCIRC_04            123
527    LIC734       plant    c2_t12  3/3/24  16:00  LICCIRC_04            123
528    LIC735       plant    c2_t12  3/3/24  16:00  LICCIRC_04            123
529    LIC736       plant    c2_t12  3/3/24  16:00  LICCIRC_04            123
530    LIC737       plant    c2_t12  3/3/24  16:00  LICCIRC_04            123
531    LIC738       plant    c2_t12  3/3/24  16:00  LICCIRC_04            123
532    LIC739       plant    c2_t12  3/3/24  16:00  LICCIRC_04            123
533    LIC740       plant    c2_t12  3/3/24  16:00  LICCIRC_04            123
534    LIC745       plant    c2_t13  3/3/24  20:00  LICCIRC_04            123
535    LIC746       plant    c2_t13  3/3/24  20:00  LICCIRC_04            123
536    LIC747       plant    c2_t13  3/3/24  20:00  LICCIRC_04            123
537    LIC748       plant    c2_t13  3/3/24  20:00  LICCIRC_04            123
538    LIC749       plant    c2_t13  3/3/24  20:00  LICCIRC_04            123
539    LIC750       plant    c2_t13  3/3/24  20:00  LICCIRC_04            123
540    LIC751       plant    c2_t13  3/3/24  20:00  LICCIRC_04            123
541    LIC752       plant    c2_t13  3/3/24  20:00  LICCIRC_04            123

In [22]:
merged_meta_data_first_4_plates

,filename,plate.pos,arb.sort,sampID,sample.type,timepoint,date,time,extractplate,rnaprepplate,...,Ambiguous Unstranded,Ambiguous Forward,plate_row,plate_col,Total Reads,Unmapped Over Mapped,Experiment Type,Sample Month,sample-id,daysincestart
0,A2450525897_n01_LICRNA01_A01,A01,1,LIC001,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,202285.0,22008.0,A,1,2248661.0,1.170940,Long Term,November,LIC001,0
1,A2450525897_n01_LICRNA01_B01,B01,2,LIC002,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,494847.0,49830.0,B,1,5984566.0,0.847878,Long Term,November,LIC002,0
2,A2450525897_n01_LICRNA01_C01,C01,3,LIC003,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,271449.0,28416.0,C,1,2936453.0,0.777471,Long Term,November,LIC003,0
3,A2450525897_n01_LICRNA01_D01,D01,4,LIC004,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,123691.0,13452.0,D,1,1359823.0,0.929141,Long Term,November,LIC004,0
4,A2450525897_n01_LICRNA01_E01,E01,5,LIC005,plant,t01,11/1/23,8:00,LIC_01,LICRNA_01,...,229101.0,26474.0,E,1,2680737.0,1.120708,Long Term,November,LIC005,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,B2449500127_n01_LICRNA04_D12,D12,92,LIC640,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,634455.0,94073.0,D,12,7589546.0,0.485375,Circadian Experiment 2,March,LIC640,122
380,B2449500127_n01_LICRNA04_E12,E12,93,LIC641,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,254268.0,35462.0,E,12,2868917.0,0.559351,Circadian Experiment 2,March,LIC641,122
381,B2449500127_n01_LICRNA04_F12,F12,94,LIC642,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,313143.0,48361.0,F,12,3742922.0,0.608939,Circadian Experiment 2,March,LIC642,122
382,B2449500127_n01_LICRNA04_G12,G12,95,LIC643,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,571417.0,87280.0,G,12,6883938.0,0.568195,Circadian Experiment 2,March,LIC643,122
383,B2449500127_n01_LICRNA04_H12,H12,96,LIC644,plant,c2_t06,3/2/24,16:00,LICCIRC_03,LICRNA_04,...,203205.0,30147.0,H,12,2356757.0,0.686690,Circadian Experiment 2,March,LIC644,122

In [20]:
merged_meta_data_first_4_plates = old_metadata.merge(luke_new_metadata[['sample-id','daysincestart']], left_on='sampID', right_on= 'sample-id')
merged_meta_data_first_4_plates.to_csv('/Users/michael/Data/Luke_terrace_experiment/General_data/Plates_1_to_4_metadata_merged_luke.csv', index=False )